<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
	   default-lazy-init="false">

	<!-- QueueSender.sendCache(aliPayInfo, "default", delayTime); -->
	<bean id="lockBeforeSmsSender" class="com.java.youquan.common.jms.AdvancedGroupQueueSender"
		init-method="start">
		<property name="brokerURLs" ref="brokerUrls"></property>
		<property name="maxConnection" value="1"></property>
		<property name="groupQueueName" value="lock-before"></property>
	</bean>
</beans>