<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<context:property-placeholder location="classpath:config.properties" ignore-resource-not-found="true" local-override="true" file-encoding="utf-8"/>

	<context:component-scan base-package="com.java.youquan.*.controller,com.java.youquan.admin.*.controller" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.java.youquan.common.interceptor.MDCInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/lock"/>
			<mvc:exclude-mapping path="/unLock"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/location"/>
			<mvc:exclude-mapping path="/order"/>
			<mvc:exclude-mapping path="/index"/>
			<mvc:exclude-mapping path="/status"/>
			<mvc:exclude-mapping path="/pay/**"/>
			<mvc:exclude-mapping path="/anon/**"/>
			<mvc:exclude-mapping path="/stat/**"/>
			<mvc:exclude-mapping path="/user/login"/>
			<mvc:exclude-mapping path="/lockOrder/exportLockOrderData"/>
			<bean class="com.java.youquan.common.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

	<mvc:annotation-driven>
		<mvc:async-support default-timeout="10000"/>
		<!-- 处理responseBody 里面日期类型 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 开启aop，对类代理 -->
	<aop:config proxy-target-class="true"/>

	<!-- 解决返回json数据报错 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>


	<!-- 上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"/><!--默认编码-->
		<property name="maxUploadSize" value="10485760000"/><!--文件大小限制-->
		<property name="maxInMemorySize" value="40960"/>
	</bean>

	<mvc:cors>
		<mvc:mapping path="/**" />
	</mvc:cors>

	<!-- 过滤静态数据 -->
	<mvc:default-servlet-handler/>

	<!-- 过滤静态数据 -->
	<mvc:resources mapping="/stat/**" location="/stat/"/>


</beans>