<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.youquan.admin.user.mapper.UserMapper">
    <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->
        INSERT INTO `user`
        (
        username,
        nickname,
        `password`,
        telphone,
        avatar,
        openid,
        unionid,
        is_disable
        )
        VALUES
        (
        #{username},
        #{nickname},
        #{password},
        #{telphone},
        #{avatar},
        #{openid},
        #{unionid},
        #{is_disable}
        );
    </insert>

    <select id="getByUsername" parameterType="java.lang.String" resultType="java.util.Map">
        select a.* from `user` a where a.username = #{username}
    </select>

    <select id="getByUserId" parameterType="java.lang.String" resultType="java.util.Map">
        select a.* from `user` a where a.id = #{user_id}
    </select>

    <update id="updateByUserId" parameterType="java.util.Map">
        update `user` a
        <set>
            <if test="username != null and username != ''">a.username = #{username},</if>
            <if test="unionid != null and unionid != ''">a.unionid = #{unionid},</if>
            <if test="openid != null and openid != ''">a.openid = #{openid},</if>
            <if test="nickname != null and nickname != ''">a.nickname = #{nickname},</if>
            <if test="password != null and password != ''">a.password = #{password},</if>
            <if test="phone != null and phone != ''">a.telphone = #{phone},</if>
            <if test="avatar != null and avatar != ''">a.avatar = #{avatar},</if>
            <if test="is_disable != null and is_disable != ''">a.is_disable = #{is_disable},</if>
            <if test="money != null and money != ''">a.money = #{money},</if>
            <if test="deposit != null and deposit != ''">a.deposit = #{deposit},</if>
            <if test="session_key != null and session_key != ''">a.session_key = #{session_key},</if>
            <if test="status != null and status != ''">a.status = #{status},</if>
            <if test="gender != null and gender != ''">a.gender = #{gender},</if>
        </set>
        where id = #{user_id}
    </update>

    <select id="listByUser" resultType="java.util.Map" parameterType="java.util.Map">
        select a.* from `user` a
        <where>
            <if test="user_id != null and user_id != ''">and a.id = #{user_id}</if>
            <if test="username != null and username != ''">and a.username = #{username}</if>
            <if test="openid != null and openid != ''">and a.openid = #{openid}</if>
            <if test="unionid != null and unionid != ''">and a.unionid = #{unionid}</if>
            <if test="type != null and type != ''">and a.type = #{type}</if>
            <if test="telphone != null and telphone != ''">and a.telphone = #{telphone}</if>
            <if test="is_disable != null and is_disable != ''">and a.is_disable = #{is_disable}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="gender != null and gender != ''">and a.gender = #{gender}</if>
        </where>
    </select>

</mapper>