<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.youquan.admin.user.mapper.FaultFeedbackMapper">
    <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->
        INSERT INTO fault_feedback (
            user_id,
            fault_type,
            device_no,
            imgs,
            `desc`,
            insert_author,
            update_author
        ) VALUES (
            #{user_id},
            #{fault_type},
            #{device_no},
            #{imgs},
            #{desc},
            #{user_id},
            #{user_id}
        );
    </insert>

    <update id="update" parameterType="java.util.Map">
        update fault_feedback
        <set>
            update_time = now(),
            <if test="type != null and type != ''">`type` = #{type},</if>
            <if test="result != null and result != ''">result = #{result},</if>
            <if test="update_author != null and update_author != ''">update_author = #{update_author},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </set>
        where id = #{id} and status = 0;
    </update>

    <select id="listByFaultFeedback" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from fault_feedback a LEFT JOIN lock_info b on a.device_no = b.device_no
        <where>
            and a.status = 0
            <if test="user_id != null and user_id != ''">and a.user_id = #{user_id}</if>
            <if test="type != null and type != ''">and a.type = #{type}</if>
            <if test="device_no != null and device_no != ''">and a.device_no = #{device_no}</if>
            <if test="fault_type != null and fault_type != ''">and a.fault_type = #{fault_type}</if>
            <if test="agency_user_id != null and agency_user_id != ''">and b.`user_id` = #{agency_user_id}</if>
        </where>
    </select>



</mapper>